# Discord library
# py-cord==2.7.0 # This is installed manually after discord.py is uninstalled
PyNaCl==1.5.0

# Environment variable loader
python-dotenv>=1.0.0

# Topgg
topggpy>=1.4.0

# API Checks (profanity filter)
requests>=2.31
